@import url('../CSS/fonts.css');


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #ececec;
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

:root{
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}

a{
    text-decoration: none;
    color: #3f4954;
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container1,.container{
    margin: 0 5vw;
}

.text-gray{
    color: #3f4954;
}

p{
    font-family: var(--Lexend);
    color: #686666da;
}

/*  navbar  */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    height: 70px;
    box-shadow: 0 15px 10px -15px #1111112b;
    overflow: hidden;
    transition: height 1s ease-in-out;
}
.logo img{
    width: 12%; 
    margin-top: 0.6rem;
}
.nav .nav-menu{    
    justify-content: space-between;
}
.nav .myclass{
    color: #3f4954;
}
.nav .myclass:hover{
    color: white;
}
.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
    margin-left: -26rem;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background:linear-gradient(to top, #f8c291 0%, #e84118);
    font-weight: 600;
}

.nav .nav-items .nav-link:hover .anchor{
    color: white;
}

.nav .nav-brand .anchor{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.8rem 0;
    padding-right: 50px;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #e84118;
}

/*  navbar */

/* Banner */
main .site-title{
    background: url('../PHOTOS/Main/Background/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 15rem;
    text-align: center;
    color: white;
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: linear-gradient(to left, #f8c291, #e84118);
    font-weight: 600;
    transition: 1s;
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}

/* Banner */

/*  Carousel  */

.blog-title{
    text-align: center;
}
main .blog{
    background: url('../PHOTOS/Main/Background/Abract.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
    position: relative;
    width: 100%;
    background-size: 55%;
}

main .blog .blog-post{
    padding-top: 3rem;
}
.container1{
    margin-top: 50px;
}

#a1{
    background-image: url(../PHOTOS/Main/Blog-post/post5.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
    height: 210px;
    max-height: 210px;
}
#a2{
    background-image: url(../PHOTOS/Main/Blog-post/post3.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
  height: 210px;
    max-height: 210px;
}
#a3{
    background-image: url(../PHOTOS/Main/Blog-post/post2.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
      height: 210px;
    max-height: 210px;
}
#a4{
    background-image: url(../PHOTOS/Main/Blog-post/post4.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
      height: 210px;
    max-height: 210px;
}
#a5{
    background-image: url(../PHOTOS/Main/Blog-post/post1.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
      height: 210px;
    max-height: 210px;
}
#a6{
    background-image: url(../PHOTOS/Main/Blog-post/post6.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
      height: 210px;
    max-height: 210px;
}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: linear-gradient(to left, #f8c291, #e84118);
    margin: .5rem;
    border: 1px solid transparent;
    
}

main .blog-content .btn-blog:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
}

main .blog-content span{
    display: block;
}

section .container .owl-nav{
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: #3f4954;
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: #104f55;
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}


/*  Carousel  */

/*  Site Content */

main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%;
    
}

main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{
    background: linear-gradient(to left, #f8c291, #e84118);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 18vw;
    border-radius: 3rem;
}

main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

#blog1{
    background-image: url(../PHOTOS/Main/Blog-post/blog1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    transition: all 1s ease;
}
#blog1:hover{
    transform: scale(1.3);
}
#blog2{
    background-image: url(../PHOTOS/Main/Blog-post/blog2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    transition: all 1s ease;
}
#blog2:hover{
    transform: scale(1.3);
}
#blog3{
    background-image: url(../PHOTOS/Main/Blog-post/blog3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    transition: all 1s ease;
}
#blog3:hover{
    transform: scale(1.3);
}

#blog4{
    background-image: url(../PHOTOS/Main/Blog-post/blog4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    transition: all 1s ease;
}
#blog4:hover{
    transform: scale(1.3);
}
main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

main .post-content .post-title a{
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: linear-gradient(to left, #f8c291, #e84118);
    border: 1px solid #f8c291 ;
}
.site-content .post-content .post-title .post-btn:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
}
.site-content .pagination{
    justify-content: center;
    color: #3f4954;
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
}

.site-content .pagination .pages{
    background: #3f4954;
    color: white;
}

/*  Site Content */


/*  Sidebar */

.site-content > .sidebar .category-list{
    font-family: var(--Livvic);   
}

.site-content > .sidebar .category-list .list-items{
    background: linear-gradient(to left, #f8c291, #e84118);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    border: 1px solid #f8c291;
    display: flex;
    justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
}

.site-content > .sidebar .category-list .list-items a{
    color:black;
    font-weight: 550;
}

#popular1{
    background-image: url(../PHOTOS/Main/Popular-post/m-blog-1.jpeg);
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

#popular1:hover,#popular2:hover,#popular3:hover,#popular4:hover{
    transform: scale(1.1);
}

#popular2{
    background-image: url(../PHOTOS/Main/Popular-post/m-blog-2.jpeg);
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
#popular3{
    background-image: url(../PHOTOS/Main/Popular-post/m-blog-3.jpeg);
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
#popular4{
    background-image: url(../PHOTOS/Main/Popular-post/m-blog-4.jpeg);
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background:  linear-gradient(to left, #f8c291, #e84118) !important;
}

.site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;
}

.site-content .sidebar .newsletter{
    padding-top: 10rem;
}

.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Lexend);
    font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    border: 1px solid #f8c291;
    background: linear-gradient(to left, #f8c291 0%, #e84118);
}
.site-content .sidebar .newsletter .form-btn:hover{
    border: 1px solid black;
    background: transparent;
}

.site-content .sidebar .popular-tags{
    padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag{
    background: linear-gradient(to left, #f8c291 0%, #e84118);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}


/* Sidebar */

/*  Footer */

footer.footer{
    height: 100%;
    background: black;
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: linear-gradient(to left, #f8c291 0%, #e84118);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: white;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: #f8c291;
    transition: 1s;
}

footer.footer .move-up span:hover{
    color: white;
    cursor: pointer;
}

/*  Footer */

/* 1st breakpoint 1130px */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.0rem !important;
        border-radius: 0% !important;
    }
    .blog-title h3{
        font-size: 18px;
    }
    #blog1:hover{
        transform: none;
    }
    #blog2:hover{
        transform: none;
    }
    #blog3:hover{
        transform: none;
    }
    #blog4:hover{
        transform: none;
    }
    #popular1:hover,#popular2:hover,#popular3:hover,#popular4:hover{
        transform: none;
    }
    #popular1,#popular2,#popular3,#popular4{
        min-height: 150px;
    }
    #blog1{
        height: 380px;
    }
    #blog2{
        height: 380px;
    }
    #blog3{
        height: 380px;
    }
    #blog4{
        height: 380px;
    }
    main .blog{
        background-repeat: no-repeat;
        background-position: right;
        height: 60vh;
        width: 100%;
        background-size: 60%;
    }
    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/* 1st breakpoint end */


/*  2nd breakpoint 750px  */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .container1{
        margin-top: 50px;
    }
    #blog1{
        height: 260px;
    }
    #blog2{
        height: 260px;
    }
    #blog3{
        height: 260px;
    }
    #blog4{
        height: 260px;
    }
    #popular1,#popular2,#popular3,#popular4{
        min-height: 250px;
    }
    .blog-title h3{
        font-size: 18px;
    }
    .nav .nav-items .nav-link:hover{
        background:linear-gradient(to left, #f8c291 0%, #e84118);
        font-weight: 600;
    }
    #a1,#a2,#a3,#a4,#a5,#a6{
        height: 260px;
        max-height: 260px;
    }
    main .blog{
        background-repeat: no-repeat;
        background-position: right;
        height: 85vh;
        width: 100%;
        background-size: 65%;
    }
    main .site-title{
        background: url('../PHOTOS/Main/Background/Background-image-mobile.png');
        background-size: cover;
        height: 110vh;
        display: flex;
        justify-content: center;
    }
    main .site-title .site-background{
        padding-top: 10rem;
    }
    .logo img{
            width: 12%; 
            margin-top: 1rem;
    }
    .nav .social{
        padding: 0.5rem 0;
    }
    .nav .nav-items{
        margin-left: -50px;
        margin-top: 10px;
    }
    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*  2nd breakpoint end  */


/*  3rd breakpoint 520px  */

@media only screen and (max-width: 520px){

    .site-content .post-content > .post-image .post-info{
        display: none;
    }
    main .blog{
        height: 100vh;
    }
    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}
@media only screen and (max-width: 320px){
    .container1{
        margin-top: 150px;
    }
}

/*    3rd breakpoint end   */